{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Hola</h1>
    <h3>Listing: {{ listing.title }}</h3>
     <img src="/{{ listing.image }}"" alt="image" />
    <h5>{{ listing.description }}</h5>
    <h4>$ {{ listing.price }}</h4>
    <h4>ID: {{ listing.id }}</h4>
    <h6>number of bids so far</h6>
    <!-- <a href="{% url 'add_to_watchlist' listing.id %}" >Add to watchlist</a> -->

    {% if listing not in watchlist %}
        <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-info" value="Add to Watchlist">
        </form>
    {% else %}
        <form action="{% url 'remove_from_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-outline-info" value="Remove from Watchlist">
        </form>
    {% endif %}

    <form action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-outline-info" value="Place bid">
    </form>
    <button type="button" class="btn btn-primary">Place bid</button>


{% endblock %} 